#section-detail-item {
  margin-top: 30px;
}

#section-detail-item .price {
  font-size: 36px;
  color: var(--accent-color-500);
  font-weight: bold;
}

#section-detail-item .wrapper-image img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

#section-detail-item .wrapper-image:hover img {
  transform: scale(1.1);
}
